<h1>Voyager Cargo Hold Inventory Items:</h1>

<ul>
  <% @inventory_items.each do |item| %>
    <li>
      <%= item.stock_number %>
      <%= link_to "Edit", edit_inventory_item_path(item) %>
      <%= link_to "delete", {:controller => :inventory_items,
      :action => 'destroy', :id => item.id }, :method => :delete %>
    </li>
  <% end %>
</ul>

<%= link_to "Add New Inventory Item", new_inventory_item_path %>
